:root {
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --gold: #FAC57D;
    --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--snow);
    padding: 1rem;
}

.title {
    text-align: center;
    font-size: 2.5rem;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 1rem;
    margin: auto;
}

.day {
    border: 3px solid var(--wine-red);
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
}

.day:hover {
    border: 3px solid var(--light-green);
}

.day img {
    width: 100%;
    height: 50%;
    border-radius: .5rem;
}

.day:hover img {
    transform: scale(1.05);
}

.day p {
    font-weight: 600;
    text-align: center;
    color: var(--snow);
    padding: 1rem 0;
}

.project-day {
    background-color: var(--wine-red);
    margin: .5rem 0 0 0;
}

.project-title {
    background-color: var(--dark-green);
    margin: .5rem 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: .25rem;
}

button {
    border: 1px solid var(--bright-red);
    border-radius: .25rem;
    padding: .5rem .75rem;
    color: var(--snow);
    background-color: var(--wine-red);
    font-size: .7rem;
}

button:hover {
    border: 1px solid var(--dark-green);
    background-color: var(--light-green);
    color: white;
}

/* MEDIA QUERIES */

@media (min-width: 414px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1366px) {
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}