:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button {
    font-family: var(--font-family);
    font-size: 2rem;
    letter-spacing: .25rem;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    padding: 2rem 3rem;
}

.button:hover {
    color: var(--btn-color-hover);
}