:root {
    --snow: #F0F4F7;
    --dark-green: #344D2F;
    --gold: #FAC57D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 2rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    background-image: linear-gradient(to right, rgba(118, 160, 70, .7), rgba(212, 43, 46, .7));
    border-radius: 1rem;
    padding: 2rem 1rem;
}

h1 {
    text-align: center;
    color: var(--snow);
}

#candy {
    color: var(--snow);
    font-size: 1.25rem;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.divide {
    border: 2px solid var(--snow);
    max-width: 320px;
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: var(--dark-green);
}

.divide p {
    margin: .75rem 0;
}

span {
    color: var(--gold);
}